build
venv
.vscode
__pycache__
archive
release

# PSoC Ignored Files
# Ignore all but TopDesign, project file, design wide resources, main.c, and cyapicallbacks.h
# The main cywrk file should be added, but not ".cywrk.user". This needs testing
*.cywrk*
*.cydsn/*
!*.cywrk
!*.cydsn/*.cyprj
!*.cydsn/*.cydwr
!*.cydsn/*.c
!*.cydsn/*.h
!*.cydsn/TopDesign/
!*.cydsn/TopDesign/*.cysch
!*.cydsn/CMakeLists.txt
*.LOG
*.cycdx
*.cyfit
*.rpt
*.svd
*.html

*-backups
*_autosave*
*-cache*
*-rescue
*.kicad_prl
*.lck

# FreeRTOS ignores
FreeRTOS/Demo
FreeRTOS/Test
FreeRTOS/links
FreeRTOS/Source/portable/*
!FreeRTOS/Source/portable/GCC
FreeRTOS/Source/portable/GCC/*
!FreeRTOS/Source/portable/GCC/ARM_CM3
!FreeRTOS/Source/portable/MemMang
